@import './styles';

.advert-poty {
  margin: 2rem 0 0 0;
  text-align: center;
  background-color: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $BoxShadow10;
  border-radius: $Border-radius-standard;

  h4 {
    width: 12rem;
  }

  h6 {
    width: 8rem;
  }
}
