@import './styles.scss';
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}


.main {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.test {
  width: 100%;
  height: 100rem;
}


p,
span {
  font-size: 0.7rem;
  line-height: 1.25rem;
}

h1 {
  font-weight: bolder;
  margin: 2rem 0;
  font-size: 2rem;
}

a {
  color: $Black80;
  font-weight: bold;
  text-decoration-color: $Green;
}

