@import './styles';

.cover-header {
  width:100%;
  height: 5rem;
  display: flex;
  flex-direction: row;

  background-color: $White;
  border-bottom: .125rem solid $Green;
  padding: 0 0 0 1.5rem;
  box-sizing: border-box;
}
.cover-header-text {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}
.cover-header-icon-direct,
.cover-header-icon-premier{
  height:100%;
  flex: 0 7rem;
}


