//colours
$Dark-blue: #011831;
$Pale-blue: rgba(111, 129, 166, 1);
$Pale-blue10: rgba(111, 129, 166, .1);
$Green: #0e838a;
$Background-gray: #F7F7F9;
$White: rgba(255, 255, 255, 1);
$White95: rgba(255, 255, 255, .95);
$White90: rgba(255, 255, 255, .9);
$White80: rgba(255, 255, 255, .8);
$Black: rgba(0, 0, 0, 1);
$Black90: rgba(0, 0, 0, .9);
$Black80: rgba(0, 0, 0, .8);
$Black70: rgba(0, 0, 0, .7);
$Black20: rgba(0, 0, 0, .2);
$Black10: rgba(0, 0, 0, .1);


//sizes
$Border-radius-standard: 0.25rem;
