@import './styles';

.header {
  width: 100%;
  background-color: transparent;
  flex: 0 0 5.125rem;
  position: relative;
  z-index: 50;
  background-color: $White;

}

.header-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24rem;
  background-color: $Dark-blue;
  z-index: 1;
}

.header-backgound-curve {
  width: 100%;
  height: 1rem;
  background-color: $Background-gray;
  border: none;
  border-radius: 50% 50% 0 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 23rem;
}
