$Dark-blue: #2b2b2c;
$Green: #0e838a;
$White: #ffffff;

.button {

}
.standard {
  button {
    width: 17rem;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: $Green;
    color: $White;
    border: 0;
  }
}
