.home-info-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  padding: 2rem 0;

  .home-info-container-left {
    height: 100%;
    flex: 1;
    padding-right: 0.6215rem;
  }

  .home-info-container-right {
    height: 100%;
    flex: 0 15.5rem;
    padding-left: 0.6215rem;
  }
}
